*.DCD
*.DCL
*.LOG
*.ez
*.log
.circleci
.dockerignore
.env
.git
.iex.exs
Dockerfile
Dockerfile.*
Mnesia.*
README.md
TODOs.org
TODOs.org_archive
_build
assets/.awcache
assets/.sass-cache
assets/elm/elm-stuff
assets/node_modules
config/prod.secret.exs
cover
cover/
cypress
cypress.json
databases/
db
deps
doc
docs
erl_crash.dump
node_modules
priv/data/mnesia
priv/static/
tmp
xref_graph.*
