*.DCD
*.DCL
*.LOG
.deliver/releases
.env
.iex.exs
/*.ez
/_build
/config/prod.secret.exs
/db
/deps
/priv/static
/priv/data
Mnesia.*
TODOs.org
TODOs.org_archive
assets/.awcache
assets/.sass-cache
assets/elm/elm-stuff
assets/node_modules
cover/
databases/
doc
erl_crash.dump
node_modules
priv/data/mnesia
xref_graph.*
