<h2>New game</h2>

<%= form_for @changeset, game_path(@conn, :create), fn f -> %>
<div>
  <%= label :f, :width %>
  <%= number_input f, :width %>
</div>

<div>
  <%= label f, :height %>
  <%= number_input f, :height %>
</div>

<div>
  <%= label f, :delay %>
  <%= number_input f, :delay %>
</div>

<div>
  <%= submit "Create game" %>
</div>


<h3>Snakes</h3>

<% end %>

<%= link "Back", to: game_path(@conn, :index) %>
