$ms-base: 1em;
$ms-ratio: $minor-third;

// Typography
$base-font-family: 'Montserrat', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: ms(0);

// Line height
$base-line-height: $ms-ratio;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #000000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$dark-purple: #6a6676;
$white: #ffffff;
$green: #57a4aa;
$grey: #797784;
$orange: #f06a53;

// Font Colors
$base-font-color: $white;
$action-color: $orange;
$scoreboard-font-color: $white;
$modal-font-color: $dark-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$avatar-border-width: 6px;

// Background Colors
$base-background-color: shade($dark-purple, 0);
$secondary-background-color: tint($base-background-color, 15);
$input-background-color: white;

// Game Board colors
$scoreboard-flag-color: $grey;
$game-board-stroke-color: $grey;
$obj-food-bg-color: $orange;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

$generic-stroke-width: 0.08;

$game-board-stroke-width: $generic-stroke-width;


$obj-snake-stroke-width: 0.8;

// This should be the same as @snake_stroke_width
$game-board-divider-stroke-length: 0.3;
$game-board-divider-stroke-width: $generic-stroke-width;
$game-board-divider-stroke: $grey;

$healthbar-height: $base-spacing;
$healthbar-opacity: 0.2;

$dead-snake-opacity: 0.3;