.scoreboard {
}

.gameapp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  width: 50vh;
  position: relative;

  canvas {
    width: inherit;
  }

  canvas ~ canvas {
    left: 0;
    position: absolute;
    z-index: 1;
  }
}
