<%= for name <- BattleSnake.SnakeHeads.list() do %>
  <%= content_tag(:svg,
    raw(render("snakehead-#{name}.svg")),
    id: ["snakehead-", name],
    width: 0.8, height: 0.8,
    x: 0.1, y: 0.1) %>
<% end %>

<%= for name <- BattleSnake.SnakeTails.list() do %>
  <%= content_tag :svg, [id: ["snaketail-", name], width: 0.8, height: 0.8, x: 0.1, y: 0.1] do %>
    <%= raw render("snaketail-#{name}.svg") %>
  <% end %>
<% end %>
