.play-show {
  display: flex;

  @include media($mobile) {
    flex-direction: column;
  }
}

.game-board-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @include media($mobile) {
    justify-content: center;
  }
}

.game-board {
  height: 92vh;

  &-tile {
    fill: $secondary-background-color;
  }
  &-table-top {
    fill: transparent;
  }
}

.obj-food {
  fill: $obj-food-bg-color;
}

.obj-snake {
  height: 1;
  width: 1;
  fill: transparent;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-width: $obj-snake-stroke-width;
}
