.scoreboard {
  display: flex;
  flex-direction: column;

  width: ms(20);
  margin-right: ms(10);
  margin-left: ms(3);

  @include media($laptop) {
    width: ms(18);
    margin-right: ms(1);
    margin-left: ms(1);
  }
  @include media($mobile) {
    width: initial;
  }

  &-division-img {
    width: ms(9);
    margin-right: ms(-3);
  }
  &-snake {
    align-items: flex-start;
    display: flex;
    min-height: ms(10);
  }
  &-avatar {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: $avatar-border-width;
    height: ms(8);
    margin-right: ms(-1);
    width: ms(8);
  }
  &-logo {
    margin-bottom: ms(4);
  }
  &-dead-snake {
    opacity: $dead-snake-opacity;
  }
  &-flag {
    background-color: $scoreboard-flag-color;
    padding-left: ms(-3);
    padding-right: ms(-3);
    padding-top: ms(-3);
    padding-bottom: ms(-3);
    display: flex;
    align-items: center;
  }
  &-flag-container {
    display: flex;
    margin-bottom: ms(2);
  }
  &-flag-end {
    fill: $scoreboard-flag-color;
    width: 35px;
  }
  &-healthbar {
    line-height: ms(4);
    height: ms(4);
  }
  &-taunt {
    color: $scoreboard-font-color;
    font-size: ms(0);
    line-height: ms(4);
    margin-left: ms(-3);
    position: absolute;
  }
  &-name {
    font-size: ms(2);
    line-height: ms(2);
  }
  &-healthpoints {
    height: 100%;
    width: 100%;
  }
  &-healthpoints-shadow {
    opacity: $healthbar-opacity;
  }
  &-game-name {
    font-weight: bold;
    font-size: ms(1);
    line-height: ms(1);
    margin-bottom: ms(1);
  }
  &-game-turn {
    font-size: ms(0);
    line-height: ms(0);
  }
}