$dark-purple: #6a6676;
$green: #57a4aa;
$grey: #797784;
$orange: #f06a53;

$generic-stroke-width: 0.08;
$bg-background-color: $dark-purple;

$game-board-stroke-color: $grey;
$game-board-stroke-width: $generic-stroke-width;

$obj-food-bg-color: $orange;

$obj-snake-stroke-width: 0.3;

// This should be the same as @snake_stroke_width
$game-board-divider-stroke-length: 0.3;
$game-board-divider-stroke-width: $generic-stroke-width;
$game-board-divider-stroke: $grey;