$dark-purple: #6a6676;
$green: #57a4aa;
$grey: #797784;
$orange: #f06a53;

$bg-background-color: $dark-purple;

$game-board-stroke-color: $grey;
$game-board-stroke-width: 0.5;

$obj-food-bg-color: $orange;

$obj-snake-stroke-width: 0.1;