@import "fonts";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "game-board";

html,
body,
main {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $base-background-color;
}