@import "bourbon/bourbon";
@import "base/base";
@import "variables";
@import "game-board";

html,
body,
main {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $bg-background-color;
}