<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dylan C. Kendal">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="<%= static_path(@conn, "/js/runtime.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/index.js") %>"></script>

    <title>Snake AI</title>
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
