<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Skin!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script>
      window.BattleSnake = <%= raw battle_snake_js_object(assigns) %>; 
    </script>
    <script src="<%= static_path(@conn, "/js/skin.js") %>"></script>
    <script>
      console.log("Skin!");
    </script>

    <style>
     body {
         font-family: 'Montserrat', sans-serif
         margin: 0px;
         overflow: hidden;
         background: #6a6676;
     }
     
     #snake-board {
         position: absolute;
         top: 0px;
         left: 0px;
         bottom: 0px;
         right: 410px;
     }

     #scoreboard-panel {
         position: absolute; 
         top: 10px;
         width: 400px;
         right: 10px;
         bottom: 10px;
     }

     .scoreboard-game-info {
         margin-left: 5px;
         margin-top: 5px;
         margin-bottom: 5px;
     }
     
     .scoreboard-flag {
         height: 5em;
     }
     
     #snake-info-list {
         position: absolute; 
         top: 150px;
         width: 400px;
         right: 10px;
         bottom: 100px;
     }

     .snake-info {
         position: absolute;
         width: 400px;
         top: 150px;
         right: 10px;
         /*
            border: 5px solid blue;
            border-radius: 15px;
            margin-bottom: 10px;
            padding: 5px;
            background: white;
            box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
          */
     }

     .noborder {
         border: none;
     }

     #snake-info-template {
         display: none;
     }
     
     .snake-info-right {
         margin-left: 10px;
         width: 300px;
     }
     
     .snake-info-health-border {
         position: relative;
         left: 0px;
         right: 0px;
         height: 40px;
     }

     .snake-info-health-background {
         position: absolute;
         left: 0px;
         top: 0px;
         bottom: 0px;
         right: 0px;
         background: green;
         opacity: 0.3;
     }
     
     .snake-info-health {
         position: absolute;
         left: 0px;
         top: 0px;
         bottom: 0px;
         background: green;
         width: 35%;
     }
     
     .snake-info-name {
         color: white;
         font-weight: bold;
     }

     .snake-info-taunt {
         position: absolute;
         overflow: hidden;
         color: white;
         z-index: 10;
         line-height: 40px;
         top: 0px;
         bottom: 0px;
         margin-left: 10px;
     }
     
     .snake-info-img {
         width: 64px;
         height: 64px;
     }

    </style>
  </head>
  
  <body>
    <div id="snake-board"></div>

    <div id="scoreboard-panel">
      
      <div id="scoreboard-logo">
	<img src="/images/bs-logo-light.svg"/>
      </div>
      
      <div id="scoreboard-game-info" class="scoreboard-game-info-wrapper">
	<div class="scoreboard-game-info">
	  <div>
            <span>{{game_name}}</span>
	  </div>
	  <div>
            <span>Turn</span>
            <span>{{game_turn}}</span>
	  </div>
	</div>
	<svg viewBox="0 0 100 100" class="scoreboard-flag" preserveAspectRatio="none">
	  <polygon points="0 0, 0 100, 100 100, 93, 50, 100 0"></polygon>
	</svg>
      </div>

    </div>

    <div id="snake-info-list"></div>
    
    <!-- snake-info-block-template -->
    <div class="snake-info" id="snake-info-template" v-bind:style="{'border-color': color}">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td class="noborder" valign="top" width="64px"><img class="snake-info-img" v-bind:src="img"/></td>
          <td class="noborder" valign="top" width="100%">
            <div class="snake-info-right">
              <div class="snake-info-name">{{name}}</div>
              <div class="snake-info-health-border"> 
                <div class="snake-info-health-background"  v-bind:style="{'background': color}"></div>
                <div class="snake-info-health" v-bind:style="{width: health + '%', 'background': color}"></div>
	        <div class="snake-info-taunt">{{taunt}}</div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>

