<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explodey Battlesnake skin">
    <meta name="author" content="Noel Burton-Krahn <noel@burton-krahn.com>">

    <title>BattleSnake 2017 - Explodey skin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script>
      window.BattleSnake = <%= raw battle_snake_js_object(assigns) %>; 
    </script>
    <script src="<%= static_path(@conn, "/js/skin.js") %>"></script>

    <style>
     .scoreboard-flag {
         height: 4em;
         width: 100%;
         fill: #797784;
     }

     .scoreboard-logo {
         margin-bottom: 1em;
     }

     .nopadding {
         padding: 0px;
     }
     
     body {
         font-family: 'Montserrat', sans-serif
         margin: 0px;
         overflow: hidden;
         color: white;
     }

     body, #audio-controls {
         background: #6a6676;
     }

     #snake-board {
         position: absolute;
         top: 0px;
         left: 0px;
         bottom: 0px;
         right: 410px;
     }

     #scoreboard-panel {
         position: absolute;
         top: 10px;
         width: 400px;
         right: 10px;
         bottom: 10px;
     }

     .scoreboard-game-info {
         margin-left: 5px;
         margin-top: 5px;
         margin-bottom: 5px;
     }

     .scoreboard-flag {
         height: 5em;
     }

     #snake-info-list {
         position: absolute;
         top: 150px;
         width: 400px;
         right: 10px;
         bottom: 50px;
     }

     .snake-info {
         position: absolute;
         width: 400px;
         top: 200px;
         right: 10px;
     }

     .noborder {
         border: none;
     }

     #snake-info-template {
         display: none;
     }

     .snake-info-right {
         margin-left: 10px;
         width: 300px;
     }

     .snake-info-health-border {
         position: relative;
         left: 0px;
         right: 0px;
         height: 40px;
     }

     .snake-info-health-background {
         position: absolute;
         left: 0px;
         top: 0px;
         bottom: 0px;
         right: 0px;
         background: green;
         opacity: 0.3;
     }

     .snake-info-health {
         position: absolute;
         left: 0px;
         top: 0px;
         bottom: 0px;
         background: green;
         width: 35%;
     }

     .snake-info-name {
         color: white;
         font-weight: bold;
     }

     .snake-info-taunt {
         position: absolute;
         overflow: hidden;
         color: white;
         z-index: 10;
         line-height: 40px;
         top: 0px;
         bottom: 0px;
         margin-left: 10px;
     }

     .snake-info-img {
         width: 64px;
         height: 64px;
     }

     #audio-controls-popup {
         position: absolute;
         bottom: 10px;
         right: 20px;
         width: 250px;
         z-index: 10;
     }

     #audio-controls-popup:hover > #audio-controls {
         top: 0px;
     }
     
     #audio-controls-popup:hover > #audio-controls-popup-button {
         opacity: 0;
     }

     #audio-controls {
         position: relative;
         top: 200px;
         width: 100%;
         height: 100%;
         border: 1px solid black;
         border-radius: 10px;
         padding: 10px;
         box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
         transition-property: top;
         transition-duration: 500ms;
     }

     #audio-controls-popup-button {
         position: absolute;
         right: 1em;
         bottom: 0px;
         /* left: 50%;
            transform: translate3d(-50%, 0, 0) */
         transition-property: opacity;
         transition-duration: 500ms;
     }
     
     .audio-horiz {
         display: flex;
         align-items: center;
     }

     .audio-volume {
         flex-grow: 1;
     }
     
     .audio-on {
         width: 75px;
         text-align: left;
     }

     .audio-on input {
         clear: left;
         float: left;
     }

    </style>
  </head>

  <body>
    
    <div id="audio-controls-popup">
      <div id="audio-controls">
        <div class="audio-horiz">
          <input id="effects-on" type="checkbox"><label for="effects-on" class="audio-on">Effects</label>
          <input type="range" id="effects-volume-slider" class="audio-volume"/>
        </div>
        <div class="audio-horiz">
          <input id="music-on" type="checkbox"><label for="music-on" class="audio-on">Music</label>
          <input type="range" id="music-volume-slider" class="audio-volume"/>
        </div>
      </div>
      <div id="audio-controls-popup-button">
        Audio
      </div>
    </div>

    <div id="snake-board">
    </div>

    <div id="scoreboard-panel">
      <div id="scoreboard-game-info" class="scoreboard-game-info-wrapper">
        <div id="scoreboard-logo">
          <%= img_tag "/images/bs-logo-light.svg", class: "scoreboard-logo" %>
        </div>
        
        <div class="scoreboard-flag-container">
          <div class="scoreboard-flag">
            <img class="scoreboard-division-img" src="/images/division-advanced.svg">
            <div>
              <div class="scoreboard-game-name">
                <span>{{game_name}}</span>
              </div>
              <div class="scoreboard-game-turn">
                <span>Turn</span>
                <span>{{game_turn}}</span>
              </div>
            </div>
          </div>
          <div class="scoreboard-flag-end">
            <svg height="100%" preserveAspectRatio="none" viewBox="0 0 100 100" width="100%" x="0" y="0">
              <polygon points="0 0, 0 100, 100 100, 0, 50, 100 0"></polygon>
            </svg>
          </div>
        </div>
      </div>
    </div>
    
    <div id="snake-info-list"></div>

    <!-- snake-info-block-template -->
    <div class="snake-info" id="snake-info-template" v-bind:style="{'border-color': color}">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td class="noborder nopadding" valign="top" width="64px"><img class="snake-info-img" v-bind:src="img"/></td>
          <td class="noborder nopadding" valign="top" width="100%">
            <div class="snake-info-right">
              <div class="snake-info-name">{{name}}</div>
              <div class="snake-info-health-border">
                <div class="snake-info-health-background"  v-bind:style="{'background': color}"></div>
                <div class="snake-info-health" v-bind:style="{width: health + '%', 'background': color}"></div>
	        <div class="snake-info-taunt">{{taunt}}</div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>

